* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* prevent tap highlight color / shadow */
    /* -webkit-user-select: none; */
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    background-color: #f7f7f7;
  }
  
  .gradient {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 5px;
    background: #3923cc;
    background: linear-gradient(90deg, #3923cc 0%, #f36f3b 26%, red 91%);
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #e7e7e7;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 5px;
  }
  nav .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav .name a {
    text-decoration: none;
    background-color: #e0e0e0;
    color: #5a5a5a;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: box-shadow 0.2s;
  }
  nav .name a:hover {
    background-color: #e0e0e0;
    transition: box-shadow 0.4s;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  }
  nav .name a span {
    font-size: 16px;
  }
  nav .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav .navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  nav .navigation ul li {
    margin: 0px 10px;
  }
  nav .navigation ul li a {
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #5a5a5a;
    transition: background-color 0.2s;
    border-radius: 50px;
  }
  nav .navigation ul li a:hover {
    background-color: #e0e0e0;
    transition: background-color 0.4s;
    color: #d84400;
  }
  nav .burger-wrap {
    padding: 10px 20px;
    display: none;
  }
  nav .burger-wrap .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    color: #5a5a5a;
  }
  nav .burger-wrap .burger:hover {
    background-color: #e0e0e0;
    color: #d84400;
  }
  @media screen and (max-width: 740px) {
    nav {
      justify-content: space-between;
      padding: 0px;
    }
    nav .name {
      padding: 10px;
    }
    nav .name a {
      font-size: 36px;
    }
    nav .navigation {
      left: -100vw;
      position: absolute;
      width: 60%;
      background-color: #e7e7e7;
      min-height: 100vh;
      border-right: 1px solid #bdbdbd;
      transition: left 0.4s;
    }
    nav .navigation ul {
      display: block;
      padding: 100px 20px;
    }
    nav .navigation ul li {
      margin: 35px 0px;
    }
    nav .navigation ul li a {
      font-size: 20px;
      padding: 10px 30px;
    }
    nav .burger-wrap {
      display: block;
    }
  }
  
  #coverAll {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .landing-container {
    min-height: 100vh;
    padding: 100px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 920px) {
    .landing-container {
      display: flex;
      justify-content: center;
    }
  }
  .landing-container .image {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 920px) {
    .landing-container .image {
      padding: 50px 0px 0px 0px;
      justify-content: bottom;
    }
  }
  @media screen and (max-width: 460px) {
    .landing-container .image {
      padding: 0px 0px 0px 0px;
    }
  }
  .landing-container .image img {
    width: 450px;
  }
  @media screen and (max-width: 580px) {
    .landing-container .image img {
      width: 350px;
    }
  }
  @media screen and (max-width: 460px) {
    .landing-container .image img {
      width: 300px;
    }
  }
  @media screen and (max-width: 400px) {
    .landing-container .image img {
      width: 250px;
    }
  }
  .landing-container .text {
    flex: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (max-width: 580px) {
    .landing-container .text {
      justify-content: start;
    }
  }
  .landing-container .text .text-content {
    padding: 10px 100px;
  }
  @media screen and (max-width: 580px) {
    .landing-container .text .text-content {
      padding: 10px 50px;
    }
  }
  @media screen and (max-width: 460px) {
    .landing-container .text .text-content {
      padding: 10px 20px;
    }
  }
  @media screen and (max-width: 400px) {
    .landing-container .text .text-content {
      padding: 10px 10px;
    }
  }
  .landing-container .text .text-content h1 {
    font-family: "Montserrat", sans-serif;
    color: #d84400;
    font-size: 48px;
  }
  @media screen and (max-width: 460px) {
    .landing-container .text .text-content h1 {
      font-size: 36px;
    }
  }
  .landing-container .text .text-content p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 24px;
    padding-bottom: 20px;
  }
  @media screen and (max-width: 460px) {
    .landing-container .text .text-content p {
      font-size: 18px;
    }
  }
  .landing-container .text .text-content a {
    text-decoration: none;
    color: #616161;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    border: 0.5px solid #bdbdbd;
    transition: background-color 0.2s;
  }
  .landing-container .text .text-content a:hover {
    background-color: #e7e7e7;
    color: #d84400;
    transition: background-color 0.4s;
  }
  
  .skill-container {
    background-color: #eeeeee;
    padding: 100px 50px 20px 50px;
  }
  @media screen and (max-width: 560px) {
    .skill-container {
      padding: 100px 20px 20px 20px;
    }
  }
  .skill-container h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #d84400;
  }
  @media screen and (max-width: 460px) {
    .skill-container h1 {
      font-size: 36px;
    }
  }
  .skill-container p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 24px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 460px) {
    .skill-container p {
      font-size: 18px;
      padding-bottom: 30px;
    }
  }
  .skill-container .skills {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 480px) {
    .skill-container .skills {
      justify-content: space-evenly;
    }
  }
  .skill-container .skills .skill-box span {
    line-height: 80px;
    margin: 10px;
    padding: 10px 30px;
    background: #e0e0e0;
    border-radius: 50px;
    font-size: 18px;
    color: #616161;
    font-family: "Roboto", sans-serif;
    border: 2px solid #bdbdbd;
  }
  @media screen and (max-width: 480px) {
    .skill-container .skills .skill-box span {
      line-height: 65px;
      margin: 5px;
      padding: 10px 20px;
    }
  }
  
  .project-container {
    padding: 100px 50px 50px 50px;
  }
  @media screen and (max-width: 560px) {
    .project-container {
      padding: 100px 20px 50px 20px;
    }
  }
  .project-container h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #d84400;
  }
  @media screen and (max-width: 460px) {
    .project-container h1 {
      font-size: 36px;
    }
  }
  .project-container p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 24px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 460px) {
    .project-container p {
      font-size: 18px;
      padding-bottom: 30px;
    }
  }
  .project-container .project-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project-container .project-box .project {
    max-width: 330px;
    padding: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    margin: 20px 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.2s;
  }
  @media screen and (max-width: 500px) {
    .project-container .project-box .project {
      max-width: 300px;
      margin: 20px 0px;
    }
  }
  .project-container .project-box .project a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }
  .project-container .project-box .project a .image {
    text-align: center;
  }
  .project-container .project-box .project a .image img {
    width: 250px;
    border-radius: 10px;
    display: inline-block;
  }
  @media screen and (max-width: 500px) {
    .project-container .project-box .project a .image img {
      width: 200px;
    }
  }
  .project-container .project-box .project a .desc h2 {
    font-family: "Montserrat", sans-serif;
    color: #d84400;
    text-align: center;
    padding: 20px 0px 5px 0px;
  }
  .project-container .project-box .project a .desc p {
    padding: 0px 10px;
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 18px;
    text-align: center;
  }
  @media screen and (max-width: 500px) {
    .project-container .project-box .project a .desc p {
      font-size: 16px;
    }
  }
  .project-container .project-box .project a .desc p span {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  @media screen and (max-width: 500px) {
    .project-container .project-box .project a .desc p span {
      font-size: 18px;
    }
  }
  .project-container .project-box .project:hover {
    -webkit-box-shadow: 3px 3px 47px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 3px 3px 47px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 3px 3px 47px -10px rgba(0, 0, 0, 0.57);
    transition: box-shadow 0.4s;
  }
  
  .blog-container {
    background-color: #eeeeee;
    padding: 100px 50px;
  }
  @media screen and (max-width: 560px) {
    .blog-container {
      padding: 100px 20px 50px 20px;
    }
  }
  .blog-container h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #d84400;
  }
  @media screen and (max-width: 460px) {
    .blog-container h1 {
      font-size: 36px;
    }
  }
  .blog-container p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 22px;
    padding-bottom: 20px;
    width: 70%;
  }
  @media screen and (max-width: 850px) {
    .blog-container p {
      font-size: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 460px) {
    .blog-container p {
      font-size: 18px;
      padding-bottom: 15px;
      text-align: justify;
    }
  }
  .blog-container .blog-box {
    padding: 50px 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  .blog-container .blog-box .blog {
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #bdbdbd;
    margin: 5px;
    transition: 0.4s border;
  }
  .blog-container .blog-box .blog a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #616161;
    padding: 5px;
  }
  .blog-container .blog-box .blog:hover {
    border: 2px solid #d84400;
    transition: 0.4s border;
  }
  .blog-container .blog-box .blog:hover a {
    color: #d84400;
  }
  
  .about-container {
    padding: 100px 50px;
  }
  @media screen and (max-width: 560px) {
    .about-container {
      padding: 100px 20px 50px 20px;
    }
  }
  .about-container h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #d84400;
  }
  @media screen and (max-width: 460px) {
    .about-container h1 {
      font-size: 36px;
    }
  }
  .about-container p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 22px;
    padding-bottom: 20px;
    width: 70%;
  }
  @media screen and (max-width: 850px) {
    .about-container p {
      font-size: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 460px) {
    .about-container p {
      font-size: 18px;
      padding-bottom: 15px;
      text-align: justify;
    }
  }
  .about-container .image {
    text-align: center;
  }
  .about-container .image img {
    width: 400px;
  }
  @media screen and (max-width: 460px) {
    .about-container .image img {
      width: 350px;
    }
  }
  @media screen and (max-width: 400px) {
    .about-container .image img {
      width: 300px;
    }
  }
  @media screen and (max-width: 350px) {
    .about-container .image img {
      width: 250px;
    }
  }
  
  .contact-container {
    padding: 100px 50px;
    background-color: #ececec;
    border-top: 1px solid #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (max-width: 560px) {
    .contact-container {
      padding: 100px 20px 20px 20px;
    }
  }
  .contact-container h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #d84400;
  }
  @media screen and (max-width: 460px) {
    .contact-container h1 {
      font-size: 36px;
    }
  }
  .contact-container p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 24px;
    padding-bottom: 20px;
  }
  @media screen and (max-width: 460px) {
    .contact-container p {
      font-size: 18px;
      padding-bottom: 15px;
    }
  }
  .contact-container .social {
    padding-bottom: 10px;
  }
  .contact-container .social a i {
    padding: 15px;
    font-size: 42px;
    color: #d84400;
  }
  .contact-container .social a i:hover {
    color: #616161;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
  }
  .contact-container .contact {
    font-family: "Roboto", sans-serif;
    color: #616161;
  }
  .contact-container .contact h3 {
    font-weight: lighter;
  }
  .contact-container .image {
    text-align: right;
  }
  .contact-container .image img {
    display: inline-block;
    width: 300px;
  }
  
  .footer {
    padding: 20px;
    background-color: #ececec;
    text-align: center;
  }
  .footer p {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 24px;
    padding-bottom: 20px;
  }
  .footer p i {
    color: red;
  }
  .footer p span {
    font-family: "Montserrat", sans-serif;
  }
  @media screen and (max-width: 460px) {
    .footer p {
      font-size: 20px;
      font-size: 20px;
    }
  }
  
  .error-page {
    min-height: 100vh;
    background-image: url(./images/about.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: bottom;
    padding: 150px 20px 20px 20px;
  }
  .error-page .text {
    text-align: center;
  }
  .error-page .text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
  }
  .error-page .text h1 span {
    color: red;
    font-size: 42px;
  }
  .error-page .text p {
    padding-top: 5px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #616161;
  }
  
  /*# sourceMappingURL=style.css.map */